body{
	margin:0;
	
	font-family: Quattrocento Sans;
	}



a{
	text-decoration:none;
}

.clr{
	width:70%;
	background-color:#D5E8EE;
	margin-left:15%;
	padding-top:1%;
	margin-top:.5%;
	margin-bottom:.9%;
	box-shadow:0 0 20px #5F818D;
	-moz-box-shadow:0 0 20px #5F818D;
	-webkit-box-shadow:0 0 20px #5F818D;
}


.center_area{
    width:100%;
    margin:auto;
	background:#2980b9;
	padding:15px 0;
	


}
.logo{
	margin-left:20%;
	float:left;
	overflow:hidden;
}
.date{
	color:#FFFFFF;
}
.part ul{
   text-align: center;
   list-style-type: none;
 
   margin-top: 40px;
   padding: 0;
   
 
}
.part li{
  display: inline;
  
  
   
  
}
.fa {
    
    font-size: 25px;
        
}
.b>.fa{
	 font-size: 15px;
	  color:#2980B9;
}
.bb .fa:hover{
	-moz-transform: scale(1.5);
   -webkit-transform: scale(1.5);
   -o-transform: scale(1.5);
   transform: scale(1.5);
   -ms-transform: scale(1.5);
filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
   M11=2, M12=-0, M21=0, M22=2);
}
.aa .fa:hover{
	-moz-transform: scale(1.5);
   -webkit-transform: scale(1.5);
   -o-transform: scale(1.5);
   transform: scale(1.5);
   -ms-transform: scale(1.5);
filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
   M11=2, M12=-0, M21=0, M22=2);
}

.part li a{
    
    
    color: #3A6E96;
    border:3px solid #2980b9; 
    padding:20px;
	padding-left:30px;
	padding-right:30px;
    display: inline-block;
	border-radius:50%;
	

}

.part li a:hover{
	color:white;
	 background-color:#2980b9; 
	 
}
.part > ul >.bb> .active > a {
	background:#5F818D;
	color:white;
}
.part{
	 padding-bottom:18%;
 }
.aa{
	float:left;
	overflow:hidden;
	margin-left:14%;
	font-size:18px;
	color:#2980B9;
}
.b{
	float:left;
	overflow:hidden;
	margin-top:3%;
}
.bb{
	float:left;
	overflow:hidden;
	text-align:center-left;
	font-size:18px;
	color:#2980B9;
}
.fa {
    
        
     font-size: 30px;
        
}
.item img {
	width:90%;
	height:500px;
	border:3px solid #2980b9;
}
.item{
	width:80%;
	margin-left:15%;
}
.uk-offcanvas .uk-offcanvas-bar {
	
	background:#2980B9;
	color:white;
}

.open i{
	margin-left:25px;
	float:left;
	overflow:hidden;
	width:74%;
	
}
.head h2{
	color:#FFFFFF;
	margin-top:5px;
}
.open{
	color:#FFFFFF;
	font-size:19px;
}
.profile a{
	
	 text-decoration:underline;
}
hr{
	margin:12px 0;
}
.course a{
	text-decoration:underline;
	
	
}
.logout {
	background-color:#FFFFFF;

}
.logout i{
	margin-left:46px;
	color:#2980B9;
	padding:12px;
}
.logout a{
	color:#2980B9;
}
.logout i:hover{
	background-color:#FEF9E3;
}
.emty{
	height:50px;
}

.contuct{
	margin-top:50px;
	height:300px;
	border:3px solid #2980b9;
	width:60%;
	border-radius:2%;
	
   -webkit-transition: all .3s ease-out;
   -moz-transition: all .3s ease-out;
   -o-transition: all .3s ease-out;
   transition: all .3s ease-out;
	
}
.contuct:hover{
	 -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
   transform: scale(1.2);
   -ms-transform: scale(1.2);
filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
   M11=2, M12=-0, M21=0, M22=2);
}
.box{
	height:15%;
	background-color:#5BC0DE;
	border-bottom:2px solid #2980b9;
	border-radius:2%;
	
}
.box>h2{
	color:#FFFFFF;
	font-size:30px;
}
.info{
	text-align:left;
	margin-left:2%;
	font-size:20px;
	color:#2980b9;
}